# OpenAI secrets
OPENAI_API_KEY = "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"

# Astra DB secrets
ASTRA_API_ENDPOINT = "https://c872526a-7521-4a47-bca2-ce50fe39a558-us-east1.apps.astra.datastax.com"
ASTRA_TOKEN = "AstraCS:FqkYfqWcBRlygkwWpsEOCrIx:444e1c387081ade7b9d0871debd5ef48a069f8869c6b32fd89c2eefaff69b7c9"